.header {
    background: lighten($headerBackground, 40);
    box-shadow: 1px 1px 50px lighten($headerBackground, 20);
    
}

.header__nav {
    ul {
        position: relative;
        height: 100px;

        margin: 0;
        li {
             display: inline-block;
             position: absolute;
             top: 25px;
             &:nth-child(2) {
                left: 48%;
                transform: translateX(-48%);
                position: relative;
                top: 10px;
             }
             &:nth-child(3) {                
                right: 40px;
             }             
        }
    }
}

a.nav--twitter {
    color: darken($primaryColour, 30);
    @include font-size-value(30);
    div {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: $primaryColour;
        text-align: center;
        display:table-cell;
        vertical-align:middle;
        i {
            padding-top: 6px;
            padding-left: 3px;
        }
    }
} 

a.nav--signin, a.nav--signout {
    color: $black;
    float: right;
    @include font-size-value(20);
    font-weight: 700;
    div {
        height: 50px;
        width: 140px;
        border-radius: 30px;
        background: $secondaryColour;
        text-align: center;
        display:table-cell;
        vertical-align:middle;
        i {
            color: $primaryColour;
            @include font-size-value(26);
            padding-left: 3px;
        }
    }
}

h1 {
    letter-spacing: 5px;
    font-family: $header-font;
    display: inline-block;
    // margin-left: 10px;
    span {
        color: $headerBackground;
    }
}

.petLogo {
    margin-right: 20px;
}

.headerAnimals {
    background-image: url("../assets/pup_kitten_solo_shadow.jpg");
    min-height: calc(100vh - 100px);   
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    h2 {
        text-align: center;
        margin-top: 40px;
        letter-spacing: 2px;
        margin: 0;
        padding-top: 20px;
    }
    .circle__wrapper {
        position: absolute;
        top:0;
        right:0;
        bottom:0;
        left:0;
        margin: auto;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        @include font-size-value(30);
        background: $primaryColour;
        text-align: center;
    }

    .circle__content {
        p {
            margin-top: 120px;
            color: $white;
        }
        span {
            font-weight: bold;
        }
    }

   
    .circleContainer {
        height: 300px;
        width: 300px;
        border-radius: 50%;
        background: $primaryColour;
        text-align: center;
        display:table-cell;
        vertical-align:middle;
        @include font-size-value(20);
        color: $white;
        position: absolute;
        left: 40%;
        transform: translateX(-40%);
        top: 50%;
        transform: translateY(-50%);
        p {
            margin-top: 128px;
        }
        span {
            display: block;
            font-weight: 700;
        }        
    }
}