// variables

$header-font: 'Abril Fatface', cursive;
$body-font: 'Montserrat', sans-serif;
$grey: rgb(136,142,136);
$blue: rgb(135,189,206);
$yellow: rgb(240,202,73);
$red: rgb(226,102,73);
$white: rgb(255,255,255);
$black: rgb(0,0,0);

// $primaryColour: rgb(226,102,73);
// $secondaryColour: rgb(240,202,73);
// $colourThree: rgb(135,189,206);
// $headerBackground: rgb(136,142,136);

// mixins

@mixin font-size-value($sizeValue){
    font-size: $sizeValue * 1px;
    font-size: ($sizeValue/10) * 1rem;
}


// base size

html {
    font-size: 62.5%;
}

// wrappers

.wrapper--max {
    max-width: 1900px;
    margin: 0 auto;
}

.wrapper--inner {
    max-width: 1000px;
    margin: 0 auto;
}

.wrapper--nav {
    max-width: 1200px;
    margin: 0 auto; 
}

// general

a {
    text-decoration: none;
}

li {
    list-style: none;
}

p, a, form {
    font-family: $body-font;
}

img {
    max-width: 100%;
}