@media (max-width: 970px) {
    .headerAnimals {
        background-image: url("../assets/pup_solo2.png");
        object-fit: cover;
        background-position-y: 15%;
        .circleContainer {
            left: 60%;
        }
    }
}

@media (max-width: 770px) {
    .headerAnimals {
        background-image: none;
        &::after {
            content: "";
            background-image: url("../assets/pup_solo2.png");
            object-fit: cover;
            background-position-y: 15%;
            opacity: 0.5;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            z-index: -1; 
            .circleContainer {
                left: 30%;
            }
        }
    }
}