@media (max-width: 970px) {
    .headerAnimals {
        background-image: url("../assets/pup_solo2.jpg");
        background-repeat: no-repeat;
        // object-fit: cover;
        background-size: cover;
        background-position-y: 15%;
        .circleContainer {
            left: 60%;
        }
    }
}

@media (max-width: 770px) {
    .header__nav {
        height: 180px;
    }
    .header__nav ul li:nth-child(2) {
        position: relative;
        top: 100px;
    }
    .headerAnimals {
        background-image: none;
        &::after {
            content: "";
            background-image: url("../assets/pup_solo2.jpg");
            object-fit: cover;
            background-position-y: 15%;
            opacity: 0.5;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            z-index: -1; 
            .circleContainer {
                left: 30%;
            }
        }
    }
    #currentPostalCode {
        padding: 10px 0 10px 20px;
        width: 200px;
    }
    .radioChoice {
        padding: 0;
        .check {
            height: 20px;
            width: 20px;
            top: 15px;
            &::before {
                top: -1px;
                left: -1px;
            }
        }
    }
}

@media (max-width: 400px) {
    .header__nav ul {
        padding-left: 10px;
        & li:nth-child(2) h1 {
            @include font-size-value(20);
            letter-spacing: 1px;
        }
        & li:nth-child(3) {
            right: 10px;
        }
    }
    img.petLogo {
            width: 15%;
            margin-right: 10px;
    }
    .headerAnimals .circle__wrapper {
        width: 200px;
        height: 200px;
        @include font-size-value(20);
    }
    .headerAnimals .circle__content p {
        margin-top: 80px;
    }
}