.second-frame {
    font-family: $body-font;
    background:$blue;
    background-image: linear-gradient(rgba(153,205,216,0.9),rgba(153,205,216,0.9)), url(../../public/assets/petsIcon.png);
    // background-image: url(../../public/assets/petsIcon.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position:center;
    background-attachment:fixed;
    margin-top:1%;
    min-height: 100vh;
    // border: 1px solid red;
    text-align:center;
    // height: 100vh;
    p, .text-input {
        @include font-size-value(22);
        color: $red;
        // max-width: 50%;
        // border: 1px solid red;
    }
    
}

.radio, .addForm, .text-input, h3{
    text-align:center;
    // border: 1px solid red;
    margin: 0 auto;
    // max-width: 50%;
}

.text-input input {
    display:block;
    margin: 0 auto;
    margin-top:1%;
    border-radius: 15px;
    border: 1px solid transparent;
}

.radio {
    text-align: center;
    width: 60%;
    margin: 0 auto;
}

// .radioChoice {
//     // border: 1px solid red;
//     border-radius: 15px;
//     max-width: 15%;
//     // float:left;
//     margin: 1% auto;
//     padding: 1% 0;
//     @include font-size-value(22);
//     background-color:$grey;
//     label {
//         color: $red;
//         margin: 2%;
//         @include font-size-value(20);
//     }
// }

.radioChoice {
    max-width: 50%;
    color: $red;
    float:left;
    width: calc(33% - 9px);
    border: 1px solid $grey;
    background: $grey;
    padding: 1% 0;
    border-radius: 15px;
    @include font-size-value(22);
    margin-right: 9px;
    text-align:center;
    label {
        margin: 2%;
         @include font-size-value(20);
    }
}

.radioChoice:nth-child(3) {
    margin-right: 0;
}

h3 {
    @include font-size-value(40);
    text-transform: uppercase;
    color: $red;
    padding: 2% 0;
    letter-spacing: 4px;
}

.button-submit {
    padding: 1% 4%;
    border-radius: 25px;
    border: 1px solid transparent;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.8);
    @include font-size-value(15);
    margin:2%;
    color: white;
    background-color: $red;
}

.button-submit:hover {
    transition: 0.4s;
    background-color:$yellow;
    color:$red;
    border: 1px solid transparent;
}

.animals-description {
    overflow-y: scroll;
    background-color: $grey;
    // border: 1px solid $red;
    border-radius: 25px;
    border: 8px solid $blue;
    @include font-size-value(18);
    height: 25vh;
    text-align: justify;
    max-width: 100%;
    margin: 2% auto;
    padding: 1% 3%; 
    color: $blue;
}

#animals-descrip {
    color: $blue;
}

#animalsName {
    color:$blue;
}

.animals-appear img {
    border-radius: 25px;
    position: relative;
    margin: 0 auto;
    width: 400px;
    height: 400px;
    background-position:50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border: 11px solid $blue;
    padding: 10px;
    object-fit:cover;
    float:left;
    margin-right: 2%; 
}
.animals-appear button {
        padding: 1% 4%;
        border-radius: 25px;
        border: 1px solid transparent;
        box-shadow: 2px 2px rgba(0, 0, 0, 0.8);
        @include font-size-value(15);
        margin:2%;
        color: white;
        background-color: $blue;
        :hover {
        transition: 0.4s;
        // background-color:$yellow;
        color:$red;
        border: 1px solid transparent;
        }
    }

.animals-appear button:hover {
    transition: 0.4s;
    background-color:$yellow;
    color:$red;
    border: 1px solid transparent;
}

.shelter-appear {
    background: $grey;
    padding-bottom: 1%;
    a {
        @include font-size-value(15);
        text-decoration:none;
        color: $grey;
        border-radius: 25px;
        padding: 2% 2%;
        background-color: $blue;
        box-shadow: 2px 2px rgba(0, 0, 0, 0.8);
    }
    a:hover {
        background-color: $yellow;
        transition: 0.3s;
        color: $red;
    }
    .shelter-sub {
        // border: 1px solid $blue;
        max-width: 50%;
        margin: 0 auto;
        margin-bottom: 1%;
        padding: 2% 0;
    .shelter-name {
        // float: left;
        text-align:center;
        width: 50%;
        margin: 0 auto;
        text-transform: uppercase;
    }
    .shelter-city {
        width: 50%;
        margin: 3% auto;
        text-transform: uppercase;
    }
    }
}

#name, #city {
    color:$blue;
}

// .shelter-sub p {
//     border: 1px solid red;
// }

// .shelter-city {
//     text-align:right;
// }

// form input[type='radio'] {
//     display: none;
// }

// form input[type='radio']+label::before {
//     content: '';
//     display: inline-block;
//     border: 5px solid #000;
//     border-radius: 50%;
//     margin: 0 0.5em;
// }

// form input[type='radio']:checked+label::before {
//     background-color: #48d1cc;
// }

// form input[type='radio']+label::before {
//     width: 1.5rem;
//     height: 1.5rem;
// }

// .radioChoice label{
//   position: relative;
// }

// .radioChoice .custom-input::before,
// .radioChoice .custom-input::after {
//   content: '';
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   margin: auto;
// }

// .radioChoice .custom-input.radio:hover {
//   cursor: pointer;
// }
// .radioChoice .custom-input.radio::before {
//   left: -52px;
//   width: 45px;
//   height: 25px;
//   background-color: #A8AAC1;
//   border-radius: 50px;
// }
// .radioChoice .custom-input.radio::after {
//   left: -49px;
//   width: 17px;
//   height: 17px;
//   border-radius: 10px;
//   background-color: #6C788A;
//   transition: left .25s, background-color .25s;
// }
// input[type="radio"]:checked + label .custom-input.radio::after {
//   left: -27px;
//   background-color: #EBFF43;
// }