.third-frame {
    background: lighten($blue, 5);
    padding-top: 20px;
    padding: 1px;
        button {
        padding: 1% 4%;
        border-radius: 25px;
        border: 1px solid transparent;
        box-shadow: 2px 2px rgba(0, 0, 0, 0.8);
        @include font-size-value(15);
        margin:2%;
        color: lighten($grey, 40);
        background-color: $red;
        font-family: $body-font;
        transition: 0.4s;
        }
        button:hover {
        background-color:$yellow;
        color:$red;
        border: 1px solid transparent;
        }
        input {
        border: 1px solid transparent;
        border-radius: 15px;
        color: #242624;
        background-color: lighten($grey, 40);
        @include font-size-value(16);
        width: 60%;
        padding-bottom:20%;
        margin-top:2%;
        overflow-x:auto;
        white-space: initial;
        }
        p {
            padding-top: 1%;
        }
        .button-notes {
            max-width: 50%;
        }
        .return-home-button h2 {
        @include font-size-value(45);
        text-transform: uppercase;
        color: lighten($grey, 40);
        margin-top: 20px;
        margin-bottom: 0;
        letter-spacing: 4px;
        font-family: $header-font;
    }
        .return-home-button h3 {
        @include font-size-value(20);
        font-family: $body-font;
        text-transform: none;
        margin: 0;
        padding: 0;
        letter-spacing: 0;
        color: darken($red, 10);
    }
}

.user-input, .user-add-button, .user-delete-animal {
    text-align:center;
    font-family: $body-font;
}


.user-display .bolded-body {
    color: darken($grey, 40);
}

.animals-info .animals-name {
    max-width: 100%;
    clear:both;
    margin:0 auto;
    text-align:center;
    color: lighten($grey, 40);
}

.animals-info {
    @include font-size-value(22);
}

.animals-name {
    font-family: $header-font;
    @include font-size-value(30);
}

// #animal-picture-profile {
//     float:none;
//     border: 11px solid $grey;
//     border-radius: 25px;
// }

.animals-appear .animals-picture-profile {
    float:none;
    border: 5px solid lighten($grey, 40);
    border-radius: 25px;
}

.user-display {
    clear:both;
}

.shelter-user a {
    text-decoration:none;
    color: #f1f1f1;
}

.user-description {
    overflow-y: scroll;
    color: $grey;
    background-color: $blue;
    border-radius: 25px;
    border: 8px solid $red;
    @include font-size-value(20);
    height: 25vh;
    text-align: justify;
    max-width: 100%;
    margin: 2% auto;
    padding: 1% 3%;
}

.user-pet-name {
    text-align:center;
    color: $grey;
    @include font-size-value(20);
    border: 3px solid $blue;
    border-radius: 15px;
    margin: 0 auto;
    margin-top:50px;
    padding: 1% 0;
    width: 33%;
}

.shelter-user {
    max-width: 100%;
    clear:both;
    p {
        float:left;
        margin: 2px 1px;
        width: calc(33% - 4px);
        text-align:center;
        border: 3px solid lighten($grey, 40);
        border-radius: 15px;
        padding: 2% 0;
        @include font-size-value(15);
        color: lighten($grey, 40);
        word-break: normal;
        padding-top:2%;
        min-height: 85px;
    }
}

.shelter-user p:nth-child(3) {
    margin-right: 0;
}

.defined-user-note {
    border: 3px solid lighten($grey, 40);;
    margin: 2% auto;
    width: 60%;
    border-radius: 15px;
    padding: 1% 1%;
    overflow-x: scroll;
    p {
        color: lighten($grey, 40);
        @include font-size-value(16);
        text-align:center;
    }
    button {
        align-items: center;
    }
    .delete-note {
        text-align:center;
    }
}

.return-home-button {
    text-align:center;
    padding-bottom: 2%;
    margin: 2%;
}

.floating-homepage {
    height: 90px;
    width: 90px;
    position: fixed;
    right: 4%;
    top: 20%;
    padding-top: 8px;
    background: rgba(lighten($red, 5), 0.8);
    border-radius: 15px;
    box-shadow: 0.3px 0.3px 0.5px 0.3px lighten($black, 40);
    &:hover {
                color: rgba($red, 1);
            }
    a, .fa-paw {
        color: lighten($grey, 40);;
        display: block;
        &:hover {
                color: $black;
            }
    }
    a {
        @include font-size-value(20);
        font-family: $body-font;
        margin-bottom: 0.5px;
    }
 }

 .floating-homepage-query {
     display: none;
      a {
        @include font-size-value(20);
        font-family: $body-font;
        color: lighten($grey, 40);
      }
 }